body {
	background: rgb(131,58,180);
background: linear-gradient(300deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    display: flex;
    flex-direction: row;
    margin: 0;
}

svg{
	overflow: visible;
}

.menu{
    background-color: transparent;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
}

.menuContainer{
	display: none;
	color: white;
}

.content{
    width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.toggle {
    position: relative;
    float: right;
	font-size: 20px;
	color:#fff;
	font-weight: bold;
	letter-spacing: .1em;
	cursor: pointer;
}

.top{
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.middle{
	width: 80%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	flex-flow: column-reverse;
}

.bottom{
	flex-grow: 1;
	width: 100%;
}

.vara-container{
	margin-bottom: 30px;
}

.buttonContainer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn{
	position: absolute;
	min-width: 5em;
	min-height: 2em;
	border-radius: 8px;
	border: 2px double white;
	font-size: 30px;
	background-color: transparent;
	color: white;
	transition: top 1s ease-in-out, left 1s ease-in-out;
	margin: 1em;
}

.btn-static:hover{
	cursor: pointer;
	color: #ffff70;
	border-color: #ffff70;
	border-radius: 20px;
	transition: all .2s ease-in-out;
}

@keyframes blink {
	50% {
	  opacity: 0;
	}
  }


  .btn-static span[class^='ion'] {
	position: relative;
  }
  .btn-static:before {
	content: '';
	background-color: #fff;
	border-radius: 20px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transform: scale(0.001, 0.001);
			transform: scale(0.001, 0.001);
  }
.btn-static:focus {
	outline: 0;
  }
.btn-static:focus:before {
	-webkit-animation: Click_Effect 0.8s ease-out;
			animation: Click_Effect 0.8s ease-out;
  }


/* animation effects */
  @keyframes Move_Effect {
	0% {opacity: 0%;}
	10%{opacity: 10%;}
	20%{opacity: 20%;}
	30% {opacity: 30%;}
	40%{opacity: 40%;}
	50% {opacity: 50%;}
	60%{opacity: 60%;}
	70%{opacity: 70%;}
	80%{opacity: 80%;}
	90%{opacity: 90%;};
	100% {opacity: 100%;}
  }
  @-webkit-keyframes Move_Effect {
	0% {opacity: 0%;}
	10%{opacity: 10%;}
	20%{opacity: 20%;}
	30% {opacity: 30%;}
	40%{opacity: 40%;}
	50% {opacity: 50%;}
	60%{opacity: 60%;}
	70%{opacity: 70%;}
	80%{opacity: 80%;}
	90%{opacity: 90%;};
	100% {opacity: 100%;}
  }
  @keyframes Click_Effect {
	50% {
	  -webkit-transform: scale(1.5, 1.5);
			  transform: scale(1.5, 1.5);
	  opacity: 0;
	}
	99% {
	  -webkit-transform: scale(0.001, 0.001);
			  transform: scale(0.001, 0.001);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: scale(0.001, 0.001);
			  transform: scale(0.001, 0.001);
	  opacity: 1;
	}
  }
  @-webkit-keyframes Click_Effect {
	50% {
	  -webkit-transform: scale(1.5, 1.5);
			  transform: scale(1.5, 1.5);
	  opacity: 0;
	}
	99% {
	  -webkit-transform: scale(0.001, 0.001);
			  transform: scale(0.001, 0.001);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: scale(0.001, 0.001);
			  transform: scale(0.001, 0.001);
	  opacity: 1;
	}
  }